{# ancestor-tree-html.tmpl - a template for an ancestor tree (Ahnentafel) in HTML

	(c) David Haworth

	This file is part of DhG.

	DhG is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	DhG is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with DhG.  If not, see <http://www.gnu.org/licenses/>.

	Input is a dictionary containing the following items:
		cardbase	: the server's 'cards' directory
		nlevels		: number of levels in the tree
		root		: an array of one element containing a T_AncestorNode object for the subject of the tree

	Each T_AncestorNode is an object with the following members
		level		: the level. Level 1 is the top level
		subj		: a T_Person object representing the person at this level
		rowspan		: how many table rows to occupy
		parents		: an array of two T_AncestorNode objects for the parents. None if no parents.
					: If only one parent is known, the other can be None
#}
{%  set CARDBASE = tp['cardbase'] %}
{%  set HEAD = 'html-head.tmpl' %}
{%  set FOOT = 'html-foot.tmpl' %}
{%  include HEAD +%}

{%  set nlevels = tp['nlevels'] %}
{%  set root = tp['root'] %}
{%  set subj = root[0].subj %}
  <h1>Ancestors of {{ subj.vital }}</h1>

  <hr>

  <div id="pagetorso" class="anctree">
    <table class="anctree">
      <tr class="anctree">
{%  for obj in root recursive %}
{%    if loop.index == 2 %}
      <tr class="anctree">
{%    endif %}
{%    if obj == None %}
      </tr>
{%    else %}
        <td class="anctree-{{ loop.cycle('f', 'm') }}" rowspan="{{ obj.rowspan }}">
{%      set s = obj.subj %}
{%      if s.dob_dod == None %}
{%        set vital = s.name %}
{%      else %}
{%        set dob_dod = s.dob_dod | replace(' ', '&nbsp;') %}
{%        set vital = s.name + ' ' + dob_dod %}
{%      endif %}
{%      if s.file == None %}
          {{ vital }}
{%      else %}
          <a href="{{ CARDBASE }}/{{ s.file }}">{{ vital }}</a>
{%      endif  %}
        </td>
{%      if obj.parents == None %}
      </tr>
{%      else %}
{{        loop(obj.parents) -}}
{%      endif %}
{%    endif %}
{%  endfor %}
    </table>
  </div>

{%  include FOOT +%}
