{# descendant-tree-html.tmpl - a template for a descendant tree in HTML

    (c) David Haworth
   
    This file is part of DhG.
   
    DhG is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
   
    DhG is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
   
    You should have received a copy of the GNU General Public License
    along with DhG.  If not, see <http://www.gnu.org/licenses/>.

    Input is a dictionary containing the following items:
		cardbase	: the server's 'cards' directory
		subj		: the subject of the card
		items		: a list of the people and (optionally) their partners

	Each item in items is an instance of a class with the following members:
		level		: the level. Level 1 is the top level
		left		: the left-hand person of a partnership:
					: 	at the top level, the subject
					:	at lower levels, a child of the level above
		right		: the right-hand person of the partnership
					:	None if no partners
					:	person with name "not known" if there are children with an unknown partner
		items		: a list of the children of the partnership. It's a recursive structure
	An individual can occur more than once in an items list, when there are multiple partners

	Each person (subj, left, right) is an instance of a class; see person class in person-card-html.tmpl
	Only vital and file are used.
#}
{%  set CARDBASE = tp['cardbase'] %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="TheLancashireman" />
  <meta name="generator" content="DhG" />

  <link  href="/styles/family-history.css" rel="stylesheet" type="text/css" media="screen" /> 
  <script type="text/javascript" src="/styles/family-history.js"> </script>

  <title>The Lancashireman's family history</title>
</head>

<body>
  <div>
    <table class="pagehead">
      <tr class="pagehead">
        <td class="pagehead_left">
          <h1>The Lancashireman's family history</h1>
        </td>
        <td class="pagehead_right">
          <a href="http://www.forl.co.uk/graphics.php">
            <img style="border:0; width:100px; height:100px"
                 src="/images/forlrose01.gif"
                 alt="Red rose of Lancashire" />
          </a>
        </td>
      </tr>
    </table>
    <div id="menubar" />
  </div>

  <hr/>

{%  set subj = tp['subj'] %}
  <h1>Descendants of {{ subj.vital }}</h1>

  <hr/>

  <div id="pagetorso" class="familytree">

{%  set items = tp['items'] %}
    <ul class="desctree">
{%  for item in items recursive %}
      <li style="list-style-type: '{{ item.level }}.'">
{%    if item.left.file == None %}
        {{ item.left.vital }}
{%    else  %}
        <a href="{{ CARDBASE }}/{{ item.left.file }}">{{ item.left.vital }}</a>
{%    endif  %}
{%    if item.right != None %}
        ===
{%      if item.right.file == None %}
        {{ item.right.vital }}
{%      else  %}
        <a href="{{ CARDBASE }}/{{ item.right.file }}">{{ item.right.vital }}</a>
{%      endif  %}
{%    endif  %}
{%    if item.items -%}
          <ul class="desctree">
{{      loop(item.items) }}
          </ul>
{%    endif %}</li>
{%  endfor %}
    </ul>

  </div>

  <hr/>

  <table class="pagefoot">
    <tr class="pagefoot">
      <td class="pagefoot_left">
        &copy; David Haworth<br/>
        <a href="/about.html">About this site (Impressum)</a>.
      </td>
      <td class="pagefoot_centre">
        <a href="http://www.forl.co.uk/">
          <img style="border:0; width:384px; height:60px"
               src="/images/dont_say.gif"
               alt="Don't say Greater Manchester, Merseyside or Cumbria when you mean Lancashire" />
        </a>
      </td>
      <td class="pagefoot_right">
        <a href="https://validator.w3.org/check?uri=referer">
          <img src="/images/w3c-valid-xhtml11.png"
               alt="Valid XHTML 1.1" height="31" width="88" />
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
          <img style="border:0; width:88px; height:31px"
               src="/images/w3c-vcss-blue.gif"
               alt="Valid CSS!" />
        </a>
      </td>
    </tr>
  </table>
  <hr/>

</body>

</html>
