{# html-head.tmpl - a template for an individual's family and timeline in HTML

	(c) David Haworth

	This file is part of DhG.

	DhG is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	DhG is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with DhG.  If not, see <http://www.gnu.org/licenses/>.

	This file produces the top of an HTML file, including the page banner.
	The file gets included by every other HTML template.
-#}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="generator" content="DhG2">

  <link  href="/styles/family-history.css" rel="stylesheet" type="text/css" media="screen">

  <title>Family history</title>
</head>

<body>
  <div>
    <table class="pagehead">
      <tr class="pagehead">
        <td class="pagehead_left">
          <h2>Family history</h2>
        </td>
        <td class="pagehead_right">
        </td>
      </tr>
    </table>
  </div>

  <hr>
