{# person-card-html.tmpl - a template for an individual's family and timeline in HTML

	(c) David Haworth

	This file is part of DhG.

	DhG is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	DhG is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with DhG.  If not, see <http://www.gnu.org/licenses/>.

	Input is a dictionary containing the following items:
		cardbase	: the server's 'cards' directory
		subj		: the subject of the card
		father		: the subject's father
		mother		: the subject's mother
		nicknames	: a list of the subject's nicknames
		aliases		: a list of the subject's aliases
		occupations	: a list of the subject's occupations
		siblings	: a list of siblings of the subject, ordered by DoB
		others		: a list of other parents of half-siblings
		partners	: a list of all the other parents of the children, in order of the children's DoB
		children	: a list of children of the subject, ordered by DoB
		notes		: a list of general information about the subject
		sources		: a list of general sources of information about the subject
		events		: a list of events from the subject's timeline
		transcripts	: a list of transcripts referenced from the events
		files		: a list of image/transcript files referenced from the events
		timestamp	: date and time of generation

	Each person in the above dictionary is an instance of a class with the following members:
		name		: the person's name
		dob_dod		: (DoB - DoD)
		vital		: string containing name and dob_dod
		file		: basename of file, including surname directory
		other		: in siblings list: index of other parent in others list
					: in others list: relationship to half-sibling (mother/father)
					: in children list: unique id of other parent (partner)

	Each event in the events list is an instance of a class with the following members:
		date		: the date of the event
		evtype		: what kind of event: Birth, Marriage etc.
		person		: person connected with the event (e.g. spouse for marriages) (optional)
		info		: list of information. Each is a (name, value, URL) tuple (or class?)
		sources		: list of sources. Each is a name, along with a list of links (web or local)

	Each transcript in the transcripts list is an instance of a class with the following members:
		id			: Identifier. Used as anchor and in the ref column.
		text		: text of the transcript

	Each file in the files list is an instance of a class with the following members:
		id			: Identifier. Used as anchor and in the ref column
		type		: Image, transcript, document with page no...
		filename	: Unique name of the file
-#}
{%  set CARDBASE = tp['cardbase'] %}
{%  set HEAD = 'html-head.tmpl' %}
{%  set FOOT = 'html-foot.tmpl' %}
{%  include HEAD +%}

{%  set subj = tp['subj'] %}
  <h1>{{ subj.name }}</h1>
{%  if subj.dob_dod != None %}
  <h2>{{ subj.dob_dod }}</h2>
{%  endif %}

{%  set list = tp['nicknames'] %}
{%  if list != None %}
  <div>
{%    for n in list %}
{%      if loop.first and loop.last %}
    <p><b>Nickname:</b> {{ n }}</p>
{%      elif loop.first %}
    <p><b>Nicknames:</b> {{ n }},
{%      elif loop.last %}
      {{ n }}</p>
{%      else %}
      {{ n }},
{%      endif %}
{%    endfor %}
  </div>
{%  endif %}

{%  set list = tp['aliases'] %}
{%  if list != None %}
  <div>
{%    for n in list %}
{%      if loop.first and loop.last %}
    <p><b>Alias:</b> {{ n }}</p>
{%      elif loop.first %}
    <p><b>Aliases:</b> {{ n }},
{%      elif loop.last %}
      {{ n }}</p>
{%      else %}
      {{ n }},
{%      endif %}
{%    endfor %}
  </div>
{%  endif %}

{%  set list = tp['occupations'] %}
{%  if list != None %}
  <div>
{%    for n in list %}
    <p><b>Occupation:</b> {{ n }}</p>
{%    endfor %}
  </div>
{%  endif %}

  <hr>
{%  if tp['notes'] != None %}
  <div>
{%    for n in tp['notes'] %}
    <p>
{{ n }}
    </p>
{%    endfor %}
  </div>
{%  endif %}

{%  if tp['sources'] != None %}
  <div>
    <h4>Sources</h4>
{%    for n in tp['sources'] %}
    <p>
{{ n }}
    </p>
{%    endfor %}
  </div>
{%  endif %}

  <table class="general-info">
{%  set father = tp['father'] %}
    <tr class="general-info">
      <td class="general-info-caption">
        Father:
      </td>
      <td class="general-info-value">
{%  if father == None %}
        not known
{%  else %}
{%    if father.file == None %}
        {{ father.vital }}
{%    else %}
        <a href="{{ CARDBASE }}/{{ father.file }}.html">{{ father.vital }}</a>
{%    endif %}
{%  endif %}
      </td>
    </tr>
{%  set mother = tp['mother'] %}
    <tr class="general-info">
      <td class="general-info-caption">
        Mother:
      </td>
      <td class="general-info-value">
{%  if mother == None %}
        not known
{%  else %}
{%    if mother.file == None %}
        {{ mother.vital }}
{%    else %}
        <a href="{{ CARDBASE }}/{{ mother.file }}.html">{{ mother.vital }}</a>
{%    endif %}
{%  endif %}
      </td>
    </tr>
  </table>
  <table class="family">
    <tr class="family">
      <td class="siblings">
        <h4>Siblings:</h4>
{%  set siblings = tp['siblings'] %}
{%  if siblings == None %}
          None
{%  else %}
        <ul class="siblings">
{%    for sib in siblings %}
          <li class="siblings">
{%      if sib.file == None %}
            {{ sib.vital }}
{%      else %}
            <a href="{{ CARDBASE }}/{{ sib.file }}.html">{{ sib.vital }}</a>
{%      endif %}
{%      if sib.other != None %}
<sup>{{ sib.other }}</sup>
{%      endif %}
          </li>
{%    endfor %}
{%  endif %}
        </ul>
{%  set other_parents = tp['others'] %}
{%  if other_parents != None %}
        Other parents of half-siblings:<br>
        <ol class="siblings">
{%    for op in other_parents %}
{%      if op.file == None %}
          <li>{{ op.other }}: {{ op.name }}</li>
{%      else %}
          <li>{{ op.other }}: <a href="{{ CARDBASE }}/{{ op.file }}.html">{{ op.name }}</a></li>
{%      endif %}
{%    endfor %}
        </ol>
{%  endif %}
      </td>
      <td class="children">
        <h4>Children:</h4>
{%  set partners = tp['partners'] %}
{%  if partners == None %}
        None
{%  else %}
{%    for sp in partners %}
{%      if sp.file == None %}
        {{ subj.name }} + {{ sp.name }}
{%      else %}
        {{ subj.name }} + <a href="{{ CARDBASE }}/{{ sp.file }}.html">{{ sp.name }}</a>
{%      endif %}
        <ul class="children">
{%      for ch in tp['children'] if ch.other == sp.uniq %}
          <li class="children">
{%        if ch.file == None %}
            {{ ch.vital }}
{%        else %}
            <a href="{{ CARDBASE }}/{{ ch.file }}.html">{{ ch.vital }}</a>
{%        endif %}
          </li>
{%      endfor %}
        </ul>
{%    endfor %}
{%  endif %}
      </td>
    </tr>
  </table>
  <p>
  </p>
{%  set events = tp['events'] %}
{%  if events != None %}

  <hr>

  <h3>Timeline</h3>
  <table class="timeline">
    <tr class="timeline">
      <th>Date</th>
      <th>Event</th>
      <th>Information</th>
      <th>Sources</th>
	</tr>
{%    for ev in events %}
    <tr class="timeline">
      <td class="timeline-date-{{ loop.cycle('even', 'odd') }}">
        {{ ev.date }}
      </td>
      <td class="timeline-event-{{ loop.cycle('even', 'odd') }}">
{%      if ev.tperson == None %}
        {{ ev.evtype }}
{%      else %}
        {{ ev.evtype }}<br>
{%        if ev.tperson.file == None %}
        {{ ev.tperson.vital }}
{%        else %}
        <a href="{{ CARDBASE }}/{{ ev.tperson.file }}.html">{{ ev.tperson.vital }}</a>
{%        endif %}
{%      endif %}
      </td>
      <td class="timeline-info-{{ loop.cycle('even', 'odd') }}">
{%      if ev.information != None %}
        <ul style="list-style-type: none; padding-left: 0px; margin-left: 0px; margin-top: 0px">
{%        for inf in ev.information recursive %}
          <li>
{%          if inf.url == None %}
            {{ inf.caption }}: {{ inf.info }}
{%          else %}
            {{ inf.caption }}: <a href="{{inf.url }}">{{ inf.info }}</a>
{%          endif %}
{%          if inf.moreinfo != None %}
            <ul style="list-style-type: disc; padding-left: 20px">
{{            loop(inf.moreinfo) }}
            </ul>
{%          endif %}
          </li>
{%        endfor %}
        </ul>
{%      endif %}
      </td>
      <td class="timeline-source-{{ loop.cycle('even', 'odd') }}">
{%      if ev.sources != None %}
        <ul style="list-style-type: none; padding-left: 0px; margin-left: 0px; margin-top: 0px">
{%        for src in ev.sources %}
          <li>
{%          if src.refs == None %}
            {{ src.descr }}
{%          else %}
            {{ src.descr }}:
{%            for r in src.refs %}
            &nbsp;<a href="{{ r.link }}">{{ r.text }}</a>
{%            endfor %}
{%          endif %}
{%          if src.moreinfo != None %}
            <ul style="list-style-type: disc; padding-left: 20px">
{%            for inf in src.moreinfo %}
              <li>
{%              if inf.url == None %}
                {{ inf.caption }}: {{ inf.info }}
{%              else %}
                {{ inf.caption }}: <a href="{{inf.url }}">{{ inf.info }}</a>
{%              endif %}
              </li>
{%            endfor %}
            </ul>
{%          endif %}
          </li>
{%        endfor %}
        </ul>
{%      endif %}
      </td>
    </tr>
{%    endfor %}
  </table>
  <p>
  </p>
{%  endif %}
{%  set transcripts = tp['transcripts'] %}
{%  if transcripts != None %}

  <hr>

  <h3>Transcripts of sources</h3>      
  <table class="transcripts">
    <tr class="transcripts">
      <th>Ref.</th>
      <th>Transcript</th>
	</tr>
{%    for tx in transcripts %}
    <tr class="transcripts" id="{{ tx.ref }}">
      <td class="transcript-index-{{ loop.cycle('even', 'odd') }}">
        {{ tx.ref }}
      </td>
      <td class="transcript-text-{{ loop.cycle('even', 'odd') }}">
        <pre>
{{ tx.text }}
        </pre>
      </td>
    </tr>
{%    endfor %}
  </table>
  <p>
  </p>
{%  endif %}
{%  set files = tp['files'] %}
{%  if files != None %}

  <hr>

  <h3>File sources</h3>      
  <table class="images">
	<tr class="images">
      <th>Ref.</th>
      <th>Type</th>
      <th>File name</th>
    </tr>
{%    for file in files %}
    <tr class="images" id="{{ file.ref }}">
      <td class="image-index-{{ loop.cycle('even', 'odd') }}">
        {{ file.ref }}
      </td>
      <td class="image-text-{{ loop.cycle('even', 'odd') }}">
        {{ file.ftype }}
      </td>
      <td class="image-text-{{ loop.cycle('even', 'odd') }}">
        {{ file.name }}
      </td>
    </tr>
{%    endfor %}
  </table>
  <p>
  </p>
{%  endif %}

{%  include FOOT +%}
